# Directories
.vs/
.vscode/
build/
output/
tools/__pycache__/

# Files
include/nox/export.h
src/opengl/nox_opengl_export.h
tests/utilities/config.h
cmake/nox_config.cmake
cmake/nox_config_version.cmake
scripts/custom_config.cmd
